@model IEnumerable<Vehicle>

@{
    ViewData["Title"] = "List of Vehicles";
}

<div class="row">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProductPicURL" alt="@item.Make" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.LotNumber)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.VehicleCategory)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Discription)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.StartBidPrice)
                        </td>
                
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

